$montserrat: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$column-template: 220px 1fr 2fr;
$table-padding: 0 30px;
$table-gap: 30px;

$light-grey: #a6acbe;

.title {
  font-family: $montserrat;
  padding: 25px 30px !important;
}

.headers {
  padding: $table-padding;
  font-size: 14px;
  font-family: $montserrat;
  font-weight: 500;
  color: $light-grey;
  display: grid;
  grid-template-columns: $column-template;
  column-gap: $table-gap;
  margin-bottom: 4px;
}

.entries {
  padding: $table-padding;
  margin-top: 28px;
  font-size: 14px;
  font-family: $montserrat;
  font-weight: 500;
  display: grid;
  grid-template-columns: $column-template;
  column-gap: $table-gap;
}

.intent {
  word-break: break-all;
}

.cell {
  display: flex;
  align-items: center;
}

.category-block {
  color: white;
  border: solid white 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Styles unique for categories
.demog {
  background: #dfab00;
  width: 126px;
  height: 27px;
}
.sho {
  background: blue;
  width: 126px;
  height: 27px;
}

.ps {
  background: #e03d3e;
  width: 175px;
  height: 27px;
}

.dth {
  background: #ad1972;
  width: 220px;
  height: 27px;
}

.hpi {
  background: #693fa5;
  width: 225px;
  height: 27px;
}

.fh {
  background: #64473a;
  width: 117px;
  height: 27px;
}

.ph {
  background: #d9730b;
  width: 102px;
  height: 27px;
}
